* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

/* Left side desigining*/
.main-container {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;

}

.sidebar {
    height: 90vh;
    background-color: #2a2a2a;
    border-radius: 18px;
    border: 1px solid #3a3a3a;
    padding: 40px;
    position: sticky;
    top: 40px;
}

.main-content {
   
    background-color: #2a2a2a;
    border-radius: 18px;
    border: 1px solid #3a3a3a;

}

.pfp img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;

}

.pfp h2 {
    font-size: 1.5rem;
    font-weight: 650;
    margin-top: 20px;
    color: #e0e0e0;
}

.pfp p {
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: rgb(244, 124, 234);
    border: 1px solid #ee54ff;
    font-size: 0.7rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;

}

.pfp {
    text-align: center;
}

.contact {
    margin-top: 30px;
    border-top: 1px solid #ee54ff;
    padding-top: 20px;


}

.co {
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value {
    color: #a0a0a0;
    text-decoration: none;
}

.email {
    margin: 18px;

}

.location {
    margin: 18px;
}

.social {
    margin-top: 30px;
    border-top: 1px solid #ee54ff;
    padding-top: 20px;
    text-align: center;


}

.social img {
    height: 25px;
    width: 25px;
    margin: 5px;
    filter: brightness(0) saturate(100%) invert(63%) sepia(75%);
    transition: filter 0.3s ease;

}

.social img:hover {
    filter: brightness(0) saturate(0) invert(0%) sepia(0%);
}

/* Right side desigining*/

#nav {
    padding: 10px;
    margin: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee54ff;


}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;


}

nav a {
    text-decoration: none;
    color: #ee54ff;
    font-weight: 400;
    transition: color 0.3s ease;

}

nav a:hover {
    color: #fdc8ff;
}
#about{
    margin: 20px;
    margin-bottom: 30px;
}
.heading{
    color: #ee54ff;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.dash{
    width: 60px;
    height: 5px;
   background-color: #fdc8ff ;
   margin-bottom: 20px;
}
.content{
    text-align: justify;
}
#skills{
    margin: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    gap: 40px;
}
.item img{
    height: 48px;
    width: 48px;
    
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    transition: transform 0.2s ease, box-shadow 0.3s ease ;
    text-align: center;
    margin-top: 20px;
}

.item h3{
    font-size: 1rem;
    font-weight: 400;
}

.item:hover{
    transform: scale(1.4);
    box-shadow: 0px 0px 10px 5px rgb(244, 124, 234);

}
#edu{
    margin: 20px;
}
.tech{
    padding-left: 20px;
    position: relative;
    margin-top: 10px;
}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.school{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.edu1{
    margin-bottom: 35px;
    position: relative;
    padding-left: 30px;
}
.edu2{
    position: relative;
    margin-bottom: 35px;
    padding-left: 30px;
}
.goal{
   height: 5px;     
   width: 5px;
   border-radius: 50%;
   border: 6px solid #ee54ff;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 5;
}
#hobby{
    margin: 25px;
}

.project{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    gap: 25px;
    margin-top: 35px;


}

.project img{
    height: 180px;
    width: 100%;

}

.card{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a ;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 5px rgb(244, 124, 234);

}
.cad{
    padding: 20px;  
}

.cad h3{
    color: #fdc8ff;
    margin-bottom: 10px;

}

.cad p{
    color: #e0e0e0;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 20px;

}

.cad span{
    background-color: rgb(255, 191, 0,  0.1);
    color: #fdc8ff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}